
<h2>Register</h2>

<div class="col 8">
  <%= form_for @passenger, url: '/passengers', method: :post do |f| %>
    <table>
      <tr>
        <td><%= f.text_field :name , placeholder: "Name" %></td>
      </tr>
      <tr>
        <td><%= f.text_field :email , placeholder: "Email" %></td>
      </tr>
      <tr>
        <td><%= f.password_field :password , placeholder: "Password" %></td>
      </tr>
      <tr>
        <td><%= f.password_field :password_confirmation , placeholder: "Confirm Password" %></td>
      </tr>
    </table>
    <br>
    <%= f.submit "Submit", class: "btn btn-default btn-primary" %>
  <% end %>
  <a class="btn btn-primary" href="/">Sign In</a>
</div>