<p>hello there</p>
<p>hello there</p>


<%= form_for :passenger, url: '/passengers/index', class: "registerform" do |f| %>
<%%>

<%= form_for :user, url: '/users', id: "register", class: "registerform" do |f| %>
  <table>
    <tr>
      <td>Name:   </td>
      <td><%= f.text_field :username %></td>
    </tr>
    <tr>
      <td>Email:   </td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>Password:   </td>
      <td><%= f.password_field :password %></td>
      </tr>
      <tr>
      <td>Confirm Password:   </td>
      <td><%= f.password_field :password_confirmation %></td>
      </tr>
   </table>
<% end %>